%h2
  = t('.your_profile')

= simple_form_for(@profile, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name
  = f.input :nickname, :hint => t('.twitter_name')
  = f.input :location
  = f.input :profession
  = f.input :about
  = f.input :website
  = f.input :img_url
  = f.submit