%h2 List of all Users
%ul.wide.no_bullets
  - @profiles.each do |p|
    %li.wide
      - if p.user_id == current_user.id
        = link_to image_tag("iconics/star.png", :class => "icon", :alt => "your profile"), profile_path(p)
      - else
        = link_to image_tag("iconics/magnify.png", :class => "icon", :alt => "view details"), profile_path(p)

      / Magic Star Rating thing Raty:
      - avg_rating = p.profile_ratings.average('rating') ? p.profile_ratings.average('rating').round : 0

      = form_for(p.profile_ratings, :url => "/profiles/#{p.id}/profile_ratings", :profile_id => p.id, :html => {:method => :post} ) do |f|
        %span.big_star_rating{ :profile_id => p.id, :avg_rating => avg_rating }
        = f.submit
         
      = link_to p.name, profile_path(p)
