%h2 List of all Users
%ul.wide.no_bullets
  - @profiles.each do |p|
    %li.wide
      - if p.user_id == current_user.id
        = link_to image_tag("iconics/star.png", :class => "icon", :alt => "your profile"), profile_path(p)
      - else
        = link_to image_tag("iconics/magnify.png", :class => "icon", :alt => "view details"), profile_path(p)

      / Magic Star Rating thing Raty:
      - avg_rating = p.profile_ratings.average('rating') ? p.profile_ratings.average('rating').round : 0      
      %span.big_star_rating{ :profile_id => p.id, :avg_rating => avg_rating }= |
        button_to 'rate!', { :controller => 'profile_ratings', :action => 'create', :profile_id => p.id, :profile_rating => { :rating => 1 } }, |
         :title=>'Create', |
         :class=>'action', |
         :onclick=>"alert('Profile: #{p.id} - User: #{current_user.id} - Rating: #{avg_rating}'); return false;" |

      = link_to p.name, profile_path(p)




/
  Le javascript
  \==================================================
/ Placed at the end of the document so the pages load faster
= javascript_include_tag "application"

/ This function has to be called AFTER the JS assests have been loaded!!
:javascript
  var rating_for_profile = $(function(profile_id, avg_rating) {
    $('.big_star_rating').raty({
      cancel:       false,
      half:         false,
      hintList:     ['I will NOT recommend', 'I am unlikely to recommend', 'OK', 'I might recommend', 'I will happily recommend to others'],
      size:         24,
      starOff:      'star-off-big.png',
      starOn:       'star-on-big.png',
      starHalf:     'star-half-big.png',
      start:        function() {
                      return $(this).attr('avg_rating');
                    },
    
      click: function(score, evt) {
        // alert('score: ' + score + '\nevent: ' + evt + '\nID: ' + $(this).attr('id') + 
        //         '\nprofile: ' + $(this).attr('profile_id')  + '\navg_rating: ' + $(this).attr('avg_rating') );
        return(score); 
          // , $(this).attr('profile_id') );
        // $('#lastresult').raty('start', score);
      }

    });
  });

