- if @authentications
  - unless @authentications.empty?
    %p
      %strong
        = t('.sign_in_options')
    .authentications
      - for authentication in @authentications
        .authentication.round
          = image_tag "auth/#{authentication.provider}_32.png", :class => 'gfx'
          = link_to image_tag("iconics/x_28x28.png", :class => "icon", :alt => "remove"), authentication, :confirm => t('.confirm_remove_service'), :method => :delete, :class => "remove"
          .provider= authentication.provider.humanize
          .uid= "ID: #{authentication.uid}"
  %p
    %strong
      = t('.add_sign_in_service')
- else
  %p
    %strong
      = t('.sign_in_through')

.auth_provider= link_to(image_tag('auth/twitter_32.png',  :class => 'gfx', :alt => 'Twitter')   + 'Twitter',  "/auth/twitter")
.auth_provider= link_to(image_tag('auth/google_32.png',   :class => 'gfx', :alt => 'Google')    + 'Google',   "/auth/google")
.auth_provider= link_to(image_tag('auth/github_32.png',   :class => 'gfx', :alt => 'GitHub')    + 'GitHub',   "/auth/github")
.auth_provider= link_to(image_tag('auth/facebook_32.png', :class => 'gfx', :alt => 'Facebook')  + 'Facebook', "/auth/facebook")
.auth_provider= link_to(image_tag('auth/open_id_32.png',  :class => 'gfx', :alt => 'OpenID')    + 'OpenID',   "/auth/open_id")
.auth_provider= link_to(image_tag('auth/xing_32.png',     :class => 'gfx', :alt => 'XING')      + 'XING',     "/auth/xing")

