- if @authentications
  - unless @authentications.empty?
    %p
      %strong
        = t('.sign_in_options')
    .authentications
      - for authentication in @authentications
        .authentication.round
          = image_tag "auth/#{authentication.provider}_32.png", :class => 'gfx'
          .font-l= link_to iconic(:x), authentication, :data => { :confirm => t('.confirm_remove_service') }, :method => :delete, :class => "remove", :title => "remove"
          .provider= authentication.provider.humanize
          .uid= "ID: #{authentication.uid}"
  %p
    %strong
      = t('.add_sign_in_service')
- else
  %p
    %strong
      = t('.sign_in_through')

-['Twitter', 'Dropbox', 'Google', 'Github', 'Facebook', 'Open_ID', 'XING' ].each do |provider|
  .auth_provider= link_to(image_tag("auth/#{provider.downcase}_32.png", :class => 'gfx', :alt => "#{provider}") + "#{provider}", "/auth/#{provider.downcase}")
