/ ### Begin of partial shared/_nav.html.haml ###

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => root_path}Edge
      .container.nav-collapse
       
        - if user_signed_in?
          %ul.nav
            %li.nav-head= link_to iconic_nav(:home) + 'home', home_path, :title => t('shared.nav.home')
            %li.nav-head= link_to iconic_nav(:star) + 'events', events_path
            %li.nav-head= link_to iconic_nav(:cog) + 'settings', profile_path(current_user.profile)
            %li.nav-head= link_to iconic_nav(:user) + 'users', profiles_path
            %li.nav-head= link_to iconic_nav(:rss_alt) + 'be social', files_path
            %li.nav-head= link_to iconic_nav(:undo) + 'log out', destroy_user_session_path, :method => :delete, :title => t('shared.nav.sign_out')

          - else
            %ul.nav
              %li.nav-head= link_to iconic_nav(:fullscreen_exit_alt) + 'sign up!', new_user_registration_path, :title => "Sign up now!"
