/ ### Begin of partial shared/_sidebar.html.haml ###

.well.sidebar-nav

  - if user_signed_in?
    %ul.nav.nav-list
      %li.nav-header= t('shared.nav.signed_in_as')
      %li= link_to current_user.email, profile_path(current_user.profile)
      %li= link_to_twitter current_user
      %li= profile_img current_user
      
  -else
    %ul.nav.nav-list
      %li.nav-header= t('.sign_in')

      / Sign in with Username and Password
      %li.font-xl= link_to iconic_nav(:key), new_user_session_path, :title => t('shared.nav.sign_in')

      / Sign in using an Oauth provider
      -['Twitter', 'Google', 'Github', 'Facebook', 'Open_ID', 'XING' ].each do |provider|
        %li= link_to(image_tag("auth/#{provider.downcase}_32.png", :class => 'gfx', :alt => "#{provider}"), "/auth/#{provider.downcase}")
