%h2 Events

= params.inspect

%ul
  %li= link_to "Show me all events", events_path
  %li= link_to "Show me all events in Germany", events_in_path(:city => 'Hamburg')
  %li= link_to "Show me only events in Hamburg", events_in_path(:city => 'Hamburg')

- @events.each do |event|
  %br
  - @event = event
  = render 'event'
  %hr.short