%h1
  You should never see this

%h2= t('devise.general.sign_in')
= simple_form_for @user, :as => :user, url: session_path(:user) do |f|
  = f.input :email
  = f.input :password

  / - if devise_mapping.rememberable?
  /   = f.check_box :remember_me
  /   = f.label :remember_me

  .button-row
    = f.submit t('devise.general.sign_in')
    = link_to t('devise.general.forgot_password'), new_password_path(:user)



/ = form_for(@user, :as => :user, :url => session_path(:user)) do |f|
/   = f.label :email
/   = f.email_field :email

/   = f.label :password
/   = f.password_field :password

/   - if devise_mapping.rememberable?
/     = f.check_box :remember_me
/     = f.label :remember_me

/   = f.submit "Sign in"

/ = render :partial => "devise/shared/links"
