%h2= "Profile Rating of #{@profile.name}"

- @profile_rating.rating.times do
  = image_tag("iconics/star.png", :class => "icon")

%div= @profile_rating.inspect
%div= @profile.inspect
%div= @user.inspect

= link_to 'Edit', edit_profile_rating_path