!!! 5
%html{:lang => "en"}
  %head
    = render 'shared/metahead'

  %body
    = render 'shared/nav'
    
    .container-fluid

      .row-fluid
        .span3
          = render 'shared/sidebar'

        .span9
          - flash.each do |key, value|
            = content_tag(:div, value, :class => "round flash #{key}")
          
          %main
            = yield
    

    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
