!!!
%html
  %head
    %title Edge
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    .header.round= render 'shared/header'

    %nav.round= render 'shared/nav'

    .content= yield

    .footer.round= render 'shared/footer'

