!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Edge on Air"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    = stylesheet_link_tag "application", :media => "all"
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"}Edge
          .container-fluid.nav-collapse
            %ul.nav
              %li= link_to "Link 1", "/path1"
              %li= link_to "Link 2", "/path2"
              %li= link_to "Link 3", "/path3"

    .container-fluid

      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list

              - if user_signed_in?
                %li.nav-header= t('shared.nav.signed_in_as')
                %li= current_user.email
                %li= link_to_twitter current_user
                %li= link_to image_tag("iconics/key.png", :class => "icon", :alt => t('shared.nav.sign_out')), destroy_user_session_path, :method => :delete
                %li= link_to image_tag("iconics/link.png", :class => "icon", :alt => t('shared.nav.linked_authentication_services')), authentications_url
              -else
                %li.nav-header= t('.sign_in')
                %li= link_to image_tag("iconics/key.png", :class => "icon",  :alt => t('shared.nav.sign_in')), new_user_session_path
                %li= link_to(image_tag('auth/twitter_32.png',  :class => 'gfx', :alt => 'Twitter'), "/auth/twitter")
                %li= link_to(image_tag('auth/google_32.png',   :class => 'gfx', :alt => 'Google'),  "/auth/google")
                %li= link_to(image_tag('auth/open_id_32.png',  :class => 'gfx', :alt => 'OpenID'),  "/auth/open_id")
                %li= link_to(image_tag('auth/github_32.png',   :class => 'gfx', :alt => 'GitHub'),  "/auth/github")
                %li= link_to(image_tag('auth/xing_32.png',     :class => 'gfx', :alt => 'XING'),    "/auth/xing")

        .span9
          - flash.each do |key, value|
            = content_tag(:div, value, :class => "round flash #{key}")
          = yield
    
      %footer
        - if user_signed_in?
          = link_to image_tag("iconics/settings.png", :class => "icon", :alt => "settings"), edit_user_registration_path
        - else
          = link_to image_tag("iconics/invite.png", :class => "icon", :alt => "register!"), new_user_registration_path

    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
